body {
	padding: 0;
	margin: 0;
}

canvas {
	overflow: hidden;
	display: block;
}

#container {
	width: 100vw;
	height: 100vh;
}
#video1 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	pointer-events: none;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 40vh;
	height: 68vh;
}

#video2 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	pointer-events: none;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 40vh;
	height: 68vh;
}
